body {
    background-color: #e6f7ff;
    color: #000000;
}

header h1 {
    color: #bb8000;
}

section {
    padding: 20px;
    background-color: #fff5e6;
    height: 100%;
}

section h2 {
    color: #bb8000;
    font-size: 2em;
    margin-bottom: 10px;
}

.intro-container {
    display: flex;
    gap: 40px; 
    margin-left: 20px;
    margin-right: 200px;
}

.content-image {
    border: 5px solid #ad4452;
    width: auto;
    height: 300px;
}

.main-navigation ul li a:hover {
    color: #006080;
}

.schedule-container {
    margin: 20px auto;
    overflow-x: auto;
    padding: 5px;
    background-color: #fff5e6;
    border-radius: 5px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 1em;
    background-color: #ffffff;
    color: #000000;
}

.schedule-table th, .schedule-table td {
    padding: 25px;
    border: 1px solid #ddd;
}

.schedule-table th {
    background-color: #bb8000;
    color: white;
}

.schedule-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.schedule-table tr:hover {
    background-color: #f1f1f1;
}
