header h1 {
    color: #8e44ad;
}

section {
    padding: 20px;
    background-color: #f5e6ff;
    height: 100%;
}

section h2 {
    color: #6a1b9a;
    font-size: 1.8em;
}

.intro-container {
    display: flex;
    align-items: top; 
    gap: 40px; 
    margin-left: 20px;
    margin-right: 400px;
}

.content-image {
    border: 5px solid #8e44ad;
    width: auto;
    height: 300px;
}

.main-navigation ul li a:hover {
    color: #006080;
}
